<div class="page_content_wrap">
    <app-sidebar></app-sidebar>
    <section class="section-main">
        <dashborad-navigation-block></dashborad-navigation-block>
        <div class="container-inner">
            <h2 class="container-title">Course</h2>
            <h2 class="container-title">1. INTRODUCTION TO EFL</h2>
            <div class="block-wh">
                <section>
                    <h3>1.1. The EFL Industry Overview</h3>
                    <div class="section-inner">
                        <label>1.1 The EFL Industry Overview</label>
                        <span class="progress">50%</span>
                    </div>
                    <div class="section-inner">
                        <label>1.1 Popular EFL Destinations</label>
                        <span class="progress">10%</span>
                    </div>
                    <div class="section-inner">
                        <label>1.1 Why TEFL</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>1.1 Other Qualifications to Teach</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>Overview: Examination</label>
                    </div>
                </section>
                <section>
                    <h3>1.2. EFL Learners</h3>
                    <div class="section-inner">
                        <label>1.2 EFL Learners</label>
                        <span class="progress">20%</span>
                    </div>
                    <div class="section-inner">
                        <label>1.2 Learning Settings</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>Learners: Examination</label>
                        <span class="progress">15%</span>
                    </div>
                    <div class="section-inner">
                        <label>1.2 Learner Differences</label>
                        <span class="progress">10%</span>
                    </div>
                    <div class="section-inner">
                        <label>2. 5. Lesson Flow</label>
                        <span class="progress done">Completed</span>
                    </div>
                    <div class="section-inner">
                        <label>Learner Differences: Examination</label>
                        <span class="progress done">Completed</span>
                    </div>
                    <div class="section-inner">
                        <label>1.2 Learner Characteristics</label>
                        <span class="progress">25%</span>
                    </div>
                    <div class="section-inner">
                        <label>Learning Characteristics: Examination</label>
                        <span class="progress done">Completed</span>
                    </div>
                    <div class="section-inner">
                        <label>1.2 Student Motivation</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>1.2 Student Responsibility</label>
                        <span class="progress">10%</span>
                    </div>
                    <div class="section-inner">
                        <label>Responsibility for learning: Examination</label>
                        <span class="progress">10%</span>
                    </div>
                </section>
                <section>
                    <h3>1.3. Employment Opportunities</h3>
                    <div class="section-inner">
                        <label>1.3 Employment Opportunities</label>
                        <span class="progress">20%</span>
                    </div>
                    <div class="section-inner">
                        <label>Schools and Opportunities: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>1.3 Contracts, Other Employment & Personal Tips</label>
                        <span class="progress">15%</span>
                    </div>
                    <div class="section-inner">
                        <label>Schools and Opportunities: Examination</label>
                        <span class="progress">10%</span>
                    </div>
                </section>
            </div>
            <h2 class="container-title">2. CLASSROOM MANAGEMENT</h2>
            <div class="block-wh">
                <section>
                    <h3>2.1. New Classes</h3>
                    <div class="section-inner">
                        <label>2.1 First Impressions</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>2.1 Pre Class Preparations</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>First Impressions: Examination</label>
                        <span class="progress">10%</span>
                    </div>
                </section>
                <section>
                    <h3>2.2. The Teacher in the Classroom</h3>
                    <div class="section-inner">
                        <label>2.2 Teacher in the Classroom</label>
                        <span class="progress">20%</span>
                    </div>
                    <div class="section-inner">
                        <label>2.2 Body Language and Positioning</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>2.2 Effectively Using the Voice</label>
                        <span class="progress">15%</span>
                    </div>
                    <div class="section-inner">
                        <label>Teacher in the Classroom: Examination</label>
                        <span class="progress">10%</span>
                    </div>
                </section>
                <section>
                    <h3>2.3. Giving Instructions</h3>
                    <div class="section-inner">
                        <label>2.3 Instructions</label>
                        <span class="progress">20%</span>
                    </div>
                    <div class="section-inner">
                        <label>Instructions Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>2.3 Comprehension Checking</label>
                        <span class="progress">15%</span>
                    </div>
                    <div class="section-inner">
                        <label>2.3 L1 and L2 in the Classroom</label>
                        <span class="progress">10%</span>
                    </div>
                    <div class="section-inner">
                        <label>Instructions Examination</label>
                        <span class="progress">15%</span>
                    </div>
                    <div class="section-inner">
                        <label>2.3 Gestures</label>
                        <span class="progress">10%</span>
                    </div>
                    <div class="section-inner">
                        <label>Giving Instructions - Test</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>2.3 Gestures Cont'd</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>Using Body Language and Gestures in the Classroom: Examination</label>
                        <span class="progress done">Complete</span>
                    </div>
                </section>
                <section>
                    <h3>2.4. Effective Classroom Seating</h3>
                    <div class="section-inner">
                        <label>2.4 Effective Seating Arrangements</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>Seating Examination</label>
                        <span class="progress">10%</span>
                    </div>
                </section>
                <section>
                    <h3>2.5. Lesson Flow</h3>
                    <div class="section-inner">
                        <label>2.5 Lesson Flow</label>
                        <span class="progress">20%</span>
                    </div>
                    <div class="section-inner">
                        <label>Lesson Flow: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>2.5 Energy Flow</label>
                        <span class="progress">15%</span>
                    </div>
                    <div class="section-inner">
                        <label>Lesson Flow: Examination</label>
                        <span class="progress">10%</span>
                    </div>
                    <div class="section-inner">
                        <label>2.5 Lesson Stages</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>Lesson Flow: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>Lesson Flow: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                </section>
                <section>
                    <h3>2.6. Monitoring & Feedback</h3>
                    <div class="section-inner">
                        <label>2.6 Monitoring</label>
                        <span class="progress">20%</span>
                    </div>
                    <div class="section-inner">
                        <label>Monitoring and Feedback: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>2.6 Lesson Feedback</label>
                        <span class="progress">15%</span>
                    </div>
                    <div class="section-inner">
                        <label>2.6 Feedback</label>
                        <span class="progress">10%</span>
                    </div>
                    <div class="section-inner">
                        <label>Peer Checking: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>2.6 Using the Board Effectively</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>Proper Use of the Board: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                </section>
                <section>
                    <h3>2.7. Discipline</h3>
                    <div class="section-inner">
                        <label>2.7 Discipline</label>
                        <span class="progress">20%</span>
                    </div>
                    <div class="section-inner">
                        <label>Discipline: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>2.7 Dealing with Disciplinary Situations</label>
                        <span class="progress">15%</span>
                    </div>
                    <div class="section-inner">
                        <label>Dealing with Disciplinary Situation: Examination</label>
                        <span class="progress">10%</span>
                    </div>
                    <div class="section-inner">
                        <label>2.7 Classroom Management Tools</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>Classroom Management Tools: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>2.7 Consistency with Disciplinary Responses</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>Consistency: Examination</label>
                        <span class="progress done">Complete</span>
                    </div>
                </section>
            </div>
            <h2 class="container-title">3. Teaching Language Skills</h2>
            <div class="block-wh">
                <section>
                    <h3>3.1. Teaching Approaches</h3>
                    <div class="section-inner">
                        <label>3.1 Teaching Language Skills</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>Teaching Approaches: Examination</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>3.1 Teaching Approaches - Deductive & Inductive</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>Teaching Approaches: Examination</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>3.1 Explaining Meaning</label>
                        <span class="progress">20%</span>
                    </div>
                    <div class="section-inner">
                        <label>Explaining Meaning: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.1 Explaining Construction</label>
                        <span class="progress">15%</span>
                    </div>
                    <div class="section-inner">
                        <label>Explaining Construction: Examination</label>
                        <span class="progress">10%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.1 Dependent & Independent Clauses</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>Dependent & Independent Clauses: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.1 Word Construction</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>Word Construction: Examination</label>
                        <span class="progress">20%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.1 Practice Component</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>Practice: Examination</label>
                        <span class="progress">15%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.1 Practice Component - Cont'd</label>
                        <span class="progress">10%</span>
                    </div>
                    <div class="section-inner">
                        <label>Practice: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.1 Production Component</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>Production: Examination</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>3.1 Lesson Timing & Other Tips</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>Timing & Other Tips: Examination</label>
                        <span class="progress done">Complete</span>
                    </div>
                </section>
            </div>
            <h2 class="container-title">3. Teaching Language Skills</h2>
            <div class="block-wh">
                <section>
                    <h3>3.2. Teaching Speaking</h3>
                    <div class="section-inner">
                        <label>3.2 Teaching Speaking</label>
                        <span class="progress">20%</span>
                    </div>
                    <div class="section-inner">
                        <label>Teaching Speaking: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.2 Linguistic Development of Speech</label>
                        <span class="progress">15%</span>
                    </div>
                    <div class="section-inner">
                        <label>Linguistic Development of Speech: Examination</label>
                        <span class="progress">10%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.2 Steps to Effective Speaking Classes</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>Steps to Effective Speaking Classes: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.2 Fluency and Accuracy</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>Fluency and Accuracy: Examination</label>
                        <span class="progress">20%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.2 Debates</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>Debates: Examination</label>
                        <span class="progress">15%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.2 Strategies for Effective Conversation Classes</label>
                        <span class="progress">10%</span>
                    </div>
                    <div class="section-inner">
                        <label>Strategies and Tips for Effective Conversation Classes: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.2 Correcting Speaking</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>Correcting Speaking: Examination</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <h3>3.3. Teaching Listening</h3>
                    <div class="section-inner">
                        <label>3.3 Teaching Listening</label>
                        <span class="progress">20%</span>
                    </div>
                    <div class="section-inner">
                        <label>Teaching Listening: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.3 Listening Skills</label>
                        <span class="progress">15%</span>
                    </div>
                    <div class="section-inner">
                        <label>Listening Skills: Examination</label>
                        <span class="progress">10%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.3 Listening Obstacles</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>Listening Obstacles: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>Listening Activities: Ordering</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.3 Listening Activities</label>
                        <span class="progress">20%</span>
                    </div>
                    <div class="section-inner">
                        <label>Listening Activities: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.3 Using Video</label>
                        <span class="progress">15%</span>
                    </div>
                    <div class="section-inner">
                        <label>Using Video: Examination</label>
                        <span class="progress">10%</span>
                    </div>
                    <h3>3.5. Teaching Writing</h3>
                    <div class="section-inner">
                        <label>3.5 Teaching Writing</label>
                        <span class="progress">20%</span>
                    </div>
                    <div class="section-inner">
                        <label>Teaching Writing: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.5 Writing Sub Skills</label>
                        <span class="progress">15%</span>
                    </div>
                    <div class="section-inner">
                        <label>Writing Sub Skills: Examination</label>
                        <span class="progress">10%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.5 Writing Activities to Develop Language</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>Writing Activities to Practice Specific Language: Examination</label>
                        <span class="progress">5%</span>
                    </div>
                    <div class="section-inner">
                        <label>3.5 Example Writing Activities</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>Example Writing Activities: Examination</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>3.5 Essays</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>Essays: Examination</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>3.5 Correcting Writing and Feedback</label>
                        <span class="progress done">Complete</span>
                    </div>
                    <div class="section-inner">
                        <label>Correcting Writing and Feedback: Examination</label>
                        <span class="progress done">Complete</span>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>