<div class="page_content_wrap">
    <app-sidebar></app-sidebar>
    <section class="section-main">
        <dashborad-navigation-block></dashborad-navigation-block>
        <div class="container-inner">
            <h2 class="container-title">Course</h2>

            <template v-for="(block, block_index) in courseData">

                <h2 class="container-title">{{ block_index + 1 }}. {{ block.title }}</h2>
                <div class="block-wh">

                    <section v-for="(unit, unit_index) in block.units">
                        <h3>{{ block_index + 1 }}.{{ unit_index + 1 }} {{ unit.title }}</h3>
                        <div v-for="(lesson, lesson_index) in lessonsData" v-if="lesson.unitId == unit.id" class="section-inner">
                            <label>
                                {{ block_index + 1 }}.{{ unit_index + 1 }}.{{ lesson.orderUnit + 1}}
                                <router-link v-if="isLesson(lesson.type)" :to="{ name: 'lesson', params: { id: lesson.id }}">{{ lesson.title }}.</router-link>
                                <router-link v-if="isQuiz(lesson.type)"   :to="{ name: 'quiz',   params: { id: lesson.id }}">{{ lesson.title }}.</router-link>
                            </label>
                            <span  v-if="isLesson(lesson.type) && lesson.pass" class="progress done">Complete</span>
                            <span  v-if="isQuiz(lesson.type) && lesson.resultPercentage" class="progress done">{{ lesson.resultPercentage }}%</span>
                        </div>
                    </section>
                </div>
            </template>
        </div>
    </section>
</div>