<div class="page_content_wrap">
    <!-- News Section -->
    <app-sidebar></app-sidebar>
    <section class="section-main">
        <dashborad-navigation-block></dashborad-navigation-block>
        <div class="container-inner">
            <h2 class="container-title">Course</h2>
            <h2 class="container-title">1. INTRODUCTION TO EFL</h2>
            <div class="block-wh">
                <h3>The Importance of English</h3>
                <p>English is the most widely used language in the world. It is the primary language for over 400 million people and a secondary language for over 1 billion others (British Council). It is an official language in many countries, international organizations, and multi-national corporations. From a practical point of view, it is used worldwide in tourism, business settings, academia, and on the Internet.</p>
                <p>Most important discoveries, papers, technical documents, treaties, research findings, enduring literature, and other information with a worldwide appeal are available in an English translation (when originating in a different language). Native English speakers often do not realize how lucky they are to have so much access to great information!</p>
                <p>It's little wonder that English is the most studied language in the world and that demand is strong for quality EFL instruction worldwide.</p>
                <blockquote>English is the most widely used language in the world. It is the primary language for over 400 million people and a secondary language for over 1 billion more.</blockquote>
                <h3>EFL Industry Growth and Statistics</h3>
                <p>The value of the EFL Industry is difficult to estimate on a worldwide scale due to the following factors:</p>
                <p>First, demand and consumption of EFL classes, texts, readers, audio-visual material, online courses, and private tutors is highest in nations such as China, Brazil, and others in which reliable statistics are hard to come by. Much of the industry activity is not reported, so using tax figures would probably be inaccurate.</p>
                <p>Second, it is difficult to draw a line where EFL ends and "regular" English materials begin. For example: are simplified story books that are specifically published for a non-native English-speaking population considered learning texts? Is a language-exchange situation an EFL activity on which a dollar value can be set?</p>
                <p>For EFL teachers and administrators the answer is yes, but some consumers may buy these books because they enjoy reading simplified English for their personal use. The intent behind taking part in a language exchange might be to make new, interesting friends - not to study English!</p>
                <p>It is estimated that the overall industry is enjoying 10% year-on-year growth, with the strongest new demand coming from China. Certain segments, such as children's EFL, are experiencing even higher growth in demand as parents seek to ready their children for success in the modern global village.</p>
                <p>What this means is that teaching EFL is a rewarding field to be in with solid future prospects! You play an integral role in helping other people learn, grow, and better their lives, while enriching your own life - whether from your hometown, online, or halfway across the world. Congratulations on the smart decision!</p>
                <div class="pagination">
                    <a href="#"><i class="demo-icon icon-left"></i>previous</a>
                    <a href="#"><i class="demo-icon icon-up"></i>go to top</a>
                    <a href="#"><i class="demo-icon icon-right"></i>next</a>
                    <a href="#" class="btn btn-accent with-icon-right">save and continue</a>
                </div>
            </div>
        </div>
    </section>
</div>