<footer class="footer_wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-8">
                <h3>MYTEFL.COM</h3>
                <ul class="custom-menu">
                    <li><a href="#">About TEFL</a></li>
                    <li><a href="#">Why TEFL</a></li>
                    <li><a href="#">Cources</a></li>
                    <li><a href="#">TEFL Jobs</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Givin back</a></li>
                    <li class="active"><a href="#">FAQs</a></li>
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-4">
                <h3>Programs</h3>
                <ul>
                    <li><a href="#">China</a></li>
                    <li><a href="#">Thailand</a></li>
                    <li><a href="#">Africa</a></li>
                    <li><a href="#">Argentina</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-8">
                <h3>HAVE ANY QUESTIONS?</h3>
                <p>
                    General Queries: admin@mytefl.com <br>
                    Job Placements: jobs@mytefl.com <br>
                    Internships: intern@mytefl.com<br>
                    Or alternatively, you can request a call-back or contact us by Skype at myTEFL
                </p>
            </div>
            <div class="col-lg-2 col-sm-4">
                <h3>Social</h3>
                <ul>
                    <li><a href="#"><i class="demo-icon icon-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="demo-icon icon-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="demo-icon icon-instagram"></i> Insatgram</a></li>
                    <li><a href="#"><i class="demo-icon icon-gplus"></i> Google+</a></li>
                </ul>
            </div>
        </div>
        <div class="row copy row-eq-height">
            <div class="col-lg-3">
                <a href="#"><img src="images/logo-footer.jpg" alt="" /></a>
            </div>
            <div class="col-lg-6">
                Copyright &copy; 2018 <a href=""> MyTEFL.com</a>. <a href="#">Terms and Conditions</a> | <a href=""> Privacy Policy</a> | <a href=""> Sitemap</a>
            </div>
            <div class="col-lg-3">
                Payment Methods <img src="images/visa.jpg" alt="" class="va-mid" />
            </div>
            </div>
        </div>
</footer>