<div class="page_content_wrap">
    <app-sidebar></app-sidebar>
    <section class="section-main">
        <dashborad-navigation-block></dashborad-navigation-block>
        <div class="container-inner">
            <h2 class="container-title">Edit Profile</h2>
            <div class="block-wh">
                <form class="edit-profile">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <label>First Name</label>
                            <input  v-model="formUserData.name" type="text" placeholder="Enter Your First Name Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Last Name</label>
                            <input  v-model="formUserData.last_name" type="text" placeholder="Enter Your Last Name Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Phone Namber</label>
                            <input  v-model="formUserData.phone" type="text" placeholder="Enter Your Phone Namber Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Email Address</label>
                            <input  v-model="formUserData.email" type="text" placeholder="Enter Your Email Address Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Gender</label>
                            <input  v-model="formUserData.gender" type="text" placeholder="Enter Your Gender Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Date of Birth</label>
                            <input  v-model="formUserData.birthday" type="text" placeholder="Enter Your Date of Birth Here" />
                        </div>
                        <!--<div class="col-lg-4 col-md-6">-->
                            <!--<label>Unit#</label>-->
                            <!--<input type="text" placeholder="Enter Unit Here" />-->
                        <!--</div>-->
                        <div class="col-lg-4 col-md-6">
                            <label>Address</label>
                            <input  v-model="formUserData.address" type="text" placeholder="Enter Your Address Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>City</label>
                            <input  v-model="formUserData.city" type="text" placeholder="Enter Your City Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Country</label>
                            <select v-model="formUserData.country" >
                                <option>US</option>
                                <option>Mexico</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>State</label>
                            <input  v-model="formUserData.state" type="text" placeholder="Enter Your State Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Postal Code</label>
                            <input  v-model="formUserData.zip" type="text" placeholder="Enter Your Postal Code Here" />
                        </div>
                    </div>

                    <p v-for="error in errors">{{error[0]}}</p>
                    <p v-if="success">success!</p>

                    <a class="btn btn-accent with-icon-right">continue course</a>
                    <br>
                    <a @click="updateProfile()" class="btn btn-accent with-icon-left">Update profile</a>
                </form>
            </div>
        </div>
    </section>
</div>