<div class="page_content_wrap">
    <app-sidebar></app-sidebar>
    <section class="section-main">
        <dashborad-navigation-block></dashborad-navigation-block>
        <div class="container-inner">
            <h2 class="container-title">Edit Profile</h2>
            <div class="block-wh">
                <form method="" action="" class="edit-profile">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <label>First Name</label>
                            <input type="text" placeholder="Enter Your First Name Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Last Name</label>
                            <input type="text" placeholder="Enter Your Last Name Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Phone Namber</label>
                            <input type="text" placeholder="Enter Your Phone Namber Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Email Address</label>
                            <input type="text" placeholder="Enter Your Email Address Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Gender</label>
                            <input type="text" placeholder="Enter Your Gender Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Date of Birth</label>
                            <input type="text" placeholder="Enter Your Date of Birth Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Unit#</label>
                            <input type="text" placeholder="Enter Unit Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Address</label>
                            <input type="text" placeholder="Enter Your Address Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>City</label>
                            <input type="text" placeholder="Enter Your City Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Country</label>
                            <select>
                                <option>US</option>
                                <option>Mexico</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>State</label>
                            <input type="text" placeholder="Enter Your State Here" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Postal Code</label>
                            <input type="text" placeholder="Enter Your Postal Code Here" />
                        </div>
                    </div>
                    <button class="btn btn-accent with-icon-right">continue course</button>
                </form>
            </div>
        </div>
    </section>
</div>