<div class="page_content_wrap">
    <app-sidebar></app-sidebar>
    <section class="section-main">
        <dashborad-navigation-block></dashborad-navigation-block>
        <div class="container-inner">
            <h2 class=" accent">SCHOOLS AND OPPORTUNITIES EXAMINATION</h2>
            <div class="block-wh quiz">
                <h2>1. Project management and content structuring for a publishing house could be an option for those ________________</h2>
                <div class="fail">
                    accept failure<i class="demo-icon icon-cancel-circle"></i>
                </div>
                <div class="list-questions">
                    <h4 class="accent">Please click the correct answers below to fill in the blanks.</h4>
                    <ul>
                        <li><a href="#">monotonous nature</a></li>
                        <li><a href="#">target sample</a></li>
                        <li><a href="#">polish</a></li>
                        <li><a href="#">write</a></li>
                        <li class="answer"><a href="#">accept failure</a></li>
                        <li><a href="#">convenience</a></li>
                        <li><a href="#">without a degree</a></li>
                        <li><a href="#">with higher qualifications and relevant experience</a></li>
                    </ul>
                </div>
                <button class="btn btn-accent with-icon-right">next question</button>
                <div class="list-questions gray-bg">
                    <h4 class="accent">List of questions</h4>
                    <ol>
                        <li>Project management and content structuring for a publishing house could be an option for those ________________<span class="quest">?</span></li>
                        <li>Content writers will be provided a _______________ of what is required along with a 'known vocabulary and grammar' guide to ensure the target level of English is utilized.</li>
                        <li>Some unscrupulous University admissions agents may expect the editor to ___________ the applicants essay for them.</li>
                        <li>Translation companies often hire native English speakers to _______________ some of their translated documents.</li>
                        <li> One of the difficulties of voice recording is the _______________ of the work.</li>
                    </ol>
                </div>
                <div class="pagination">
                    <a href="#"><i class="demo-icon icon-left"></i>previous</a>
                    <a href="#"><i class="demo-icon icon-up"></i>go to top</a>
                    <a href="#"><i class="demo-icon icon-home"></i>home</a>
                    <a href="#"><i class="demo-icon icon-right"></i>next</a>
                </div>
            </div>
        </div>
    </section>
</div>