<div class="page_content_wrap">
    <app-sidebar></app-sidebar>
    <section class="section-main">
        <dashborad-navigation-block></dashborad-navigation-block>
        <div class="container-inner">
            <div class="row">
                <div class="col-sm-12">
                    <div class="extend-block">
                        <h2 class="text-center">Extend Cource</h2>
                        <div class="block-wh">
                            <h2 class="text-center semib">Save! Enter promo code <span class="accent-link">EXT15</span> for a tidy discount on your extension.</h2>
                            <form>
                                <h4>Your Course expiration is : <span class="exp">2018-11-28 00:00:00</span></h4>
                                <h4>Extend Course by</h4>
                                <select>
                                    <option>Select Number of Days</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                                <a href="#" class="btn btn-accent with-icon-right">Extend Cource</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>