<div class="page_content_wrap">
    <app-sidebar></app-sidebar>
    <section class="section-main">
        <dashborad-navigation-block></dashborad-navigation-block>
        <div class="container-inner">
            <h2 class="container-title">Library</h2>
            <div class="block-wh">
                <h3>CLICK TO DOWNLOAD RESOURCES</h3>
                <ul class="library-list">
                    <li><a href="#">Accuracy Drills</a></li>
                    <li><a href="#">Adjectives Ordering Guide</a></li>
                    <li><a href="#">Adult Oral English Literacy Assessment</a></li>
                    <li><a href="#">Common Modal Usage Charts</a></li>
                    <li><a href="#">Count vs Non Count Nouns</a></li>
                    <li><a href="#">Coursebook Selection Checklist</a></li>
                    <li><a href="#">Debates</a></li>
                    <li><a href="#">Essay-Writing Checklist</a></li>
                    <li><a href="#">Example Essay Correction and Feedback</a></li>
                    <li><a href="#">Fluency Activity</a></li>
                    <li><a href="#">Fluency Activity 2</a></li>
                    <li><a href="#">Fun Game with Suction Balls or Suction darts</a></li>
                    <li><a href="#">Fun Intonation Warm-Up</a></li>
                    <li><a href="#">Intermediate Level Writing Activity</a></li>
                    <li><a href="#">Intermediate Writing Activity 2</a></li>
                    <li><a href="#">Lesson Plan Checklist</a></li>
                    <li><a href="#">Lesson Plan Example</a></li>
                    <li><a href="#">Lesson Plan Sample</a></li>
                    <li><a href="#">Lesson-Evaluation</a></li>
                    <li><a href="#">Listening Activity Beginner</a></li>
                    <li><a href="#">Listening Activity Intermediate</a></li>
                    <li><a href="#">Listening Activity Vowel Sounds and Diphthongs</a></li>
                    <li><a href="#">Phonemic Chart</a></li>
                    <li><a href="#">Pictionary Game</a></li>
                    <li><a href="#">Presentation of Zero Conditionals</a></li>
                    <li><a href="#">Reading Activity Beginner</a></li>
                    <li><a href="#">Reading Activity Intermediate</a></li>
                    <li><a href="#">Reading Activity Advanced</a></li>
                    <li><a href="#">Reference Guide For Spelling</a></li>
                    <li><a href="#">Simple Syllables and Word Stress Activity</a></li>
                    <li><a href="#">Subjunctives in Noun Clauses</a></li>
                    <li><a href="#">Task Based Lesson Skills and Personality</a></li>
                    <li><a href="#">Tips for Speaking Lessons</a></li>
                    <li><a href="#">Animal Lesson Plan</a></li>
                    <li><a href="#">CCQs</a></li>
                    <li><a href="#">Describing Appearance Lesson Plan</a></li>
                    <li><a href="#">Lesson Plan Holiday</a></li>
                    <li><a href="#">Lesson Plan Past Simple Regular Verbs</a></li>
                    <li><a href="#">Lexical Activities - BuzzWord</a></li>
                    <li><a href="#">Lexical Activities - Chain Spelling</a></li>
                    <li><a href="#">Lexical Activities - Collocation Ladder</a></li>
                    <li><a href="#">Lexical Activities - Concentration</a></li>
                    <li><a href="#">Lexical Activities - Describing Appearances and Characteristics</a></li>
                    <li><a href="#">Lexical Activities - Hangman</a></li>
                    <li><a href="#">Lexical Activities - Hot Seat</a></li>
                    <li><a href="#">Lexical Activities - Outburst</a></li>
                    <li><a href="#">Lexical Activities - Paper Airplane Game</a></li>
                    <li><a href="#">Lexical Activities - Pass the Vocabulary Parcel</a></li>
                    <li><a href="#">Lexical Activities - Pictionary</a></li>
                    <li><a href="#">Lexical Activities - Pyramid Game</a></li>
                    <li><a href="#">Lexical Activities - The Alphabet Code</a></li>
                    <li><a href="#">Lexical Activities - Vocabulary Deck</a></li>
                    <li><a href="#">Lexical Activities - Vocabulary Memory Game</a></li>
                    <li><a href="#">Objects and Adjectives Lesson Plan</a></li>
                    <li><a href="#">Objects Comparative - Superlative Lesson Plan</a></li>
                    <li><a href="#">Personalities Lesson Plan</a></li>
                    <li><a href="#">Phrasal Verb Boggle</a></li>
                    <li><a href="#">Phrasal Verb Charades</a></li>
                    <li><a href="#">Sentence Race</a></li>
                    <li><a href="#">Test Evaluation Checklist</a></li>
                    <li><a href="#">Verb Jumble Race</a></li>
                    <li><a href="#">What's the Question</a></li>
                    <li><a href="#">Weather Lesson Plan</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>