<header class="top_panel">
    <nav class="navbar navbar-default">
        <div class="row row-eq-height">
            <div class="col-lg-2 col-sm-6">
                <a class="navbar-brand" href="/"><img src="images/logo.jpg" alt="" /></a>
            </div>
            <div class="col-lg-10 col-sm-6 text-right">
                <div class="wrapper-nav">
                    <nav class=" navbar navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Courses <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Interships</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Tefl Jobs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Why Tefl</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Givin Back</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Offers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Blog</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Dashboard
                                            </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="button btn btn-default" data-toggle="modal" data-target="#modalLoginForm">Get Started</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</header>