<div class="page_content_wrap">
    <app-sidebar></app-sidebar>
    <section class="section-main">
        <dashborad-navigation-block></dashborad-navigation-block>
        <div class="container-inner">
            <div class="row">
                <div class="col-sm-12">
                    <div class="extend-block">
                        <h2 class="text-center">Change Password</h2>
                        <div class="block-wh">
                            <form>
                                <p><label>New Password</label><input type="password" /></p>
                                <p><label>Re-enter New Password</label><input type="password" /></p>
                                <a href="#" class="btn btn-accent with-icon-right">Change Password</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>