<div class="page_content_wrap">
    <app-sidebar></app-sidebar>
    <!-- News Section -->
    <section class="section-main">
    <dashborad-navigation-block></dashborad-navigation-block>
        <div class="row">
            <div class="col-sm-12">
                <div class="block-wh text-center apply-certificate">
                    <img src="images/certificate1.jpg" />
                    <h3>You may apply for a TEFL Certificate once you have successfully completed your course. Keep at it!</h3>
                    <a href="#" class="btn btn-accent with-icon-right">Go Back</a>
                </div>
            </div>
        </div>
    </section>
</div>