<div class="page_content_wrap">
    <!-- News Section -->
    <app-sidebar></app-sidebar>
    <section class="section-main">
        <dashborad-navigation-block></dashborad-navigation-block>
        <div class="container-inner">
            <h2 class="container-title">Course</h2>
            <h2 class="container-title">1. INTRODUCTION TO EFL</h2>
            <div class="block-wh">
                <h3>{{ lessonData.title }}</h3>
                <div v-html="lessonData.body"></div>
                <div class="pagination">
                    <a href="#"><i class="demo-icon icon-left"></i>previous</a>
                    <a href="#"><i class="demo-icon icon-up"></i>go to top</a>
                    <a href="#"><i class="demo-icon icon-right"></i>next</a>
                    <a href="#" class="btn btn-accent with-icon-right">save and continue</a>
                </div>
            </div>
        </div>
    </section>
</div>